<%- include('../partials/header') %>

    <div class="container mt-3">
        <h2><%= garden.name %></h2>

        <% if (garden.sections && garden.sections.length > 0) { %>
            <h4 class="danger">This garden has sections.  Please delete the sections before deleting the garden.</h4>
            <a href="/gardens" class="btn btn-outline-secondary me-3">Return to My Gardens</a>
        <% } else { %>
            <h4>Are you sure you would like to delete this garden?</h4>
            <div class="input-group">
                <a href="/gardens" class="btn btn-outline-secondary me-3 rounded-right">Cancel</a>
                <form action="/gardens/<%= garden.id %>?_method=DELETE" method="post">
                    <input type="submit" class="btn btn-outline-danger me-3" value="Delete Garden">
                </form>
            </div>
        <% } %>

    </div>

<%- include('../partials/footer') %>